<b>راهنما</b>
پس از شروع کار با این بات به شما جملاتی پیشنهاد می‌شود تا راجع به آن‌ها قضاوت کنید. برای این که بتوانید خودتان چیزی را برای قضاوت قرار دهید لازم است که خودتان در امر قضاوت کردن کوتاهی نکنید. برای همین به ازای تعدادی قضاوت، خواهید توانست جمله‌ای را به قضاوت بگذارید.

هر گاه بخواهید می‌توانید قضاوت کنید. برای این کار کافی است دستور /judge را وارد کنید. بعد از این که یک گزاره رو قضاوت کردید این امکان وجود داره که اونو دنبال‌کنید، به اشتراک بگذارید و یا حتی از صاحب جمله درخواست کنید که نام کاربریش رو با شما به اشتراک بگذاره.

در صورتی که بخواهید چیزی را به قضاوت بگذارید هم می‌توانید از دستور /consult استفاده کنید.

<b>جملاتی که تایید نمی‌شوند</b>
- این بات در دسترس تمامی کاربران تلگرام است. برای همین جملاتی که تنها در بین برخی گروه‌های دوستی معنی می‌دهد تایید نمی‌شوند.
- جملات بی‌ادبانه که مناسب جامعه‌ی گسترده‌ی کاربران بات نیستند تایید نمی‌شوند.
- همچنین جملاتی که مخالف قوانین تلگرام باشند مثل جملات خشونتبار تایید نمی‌شوند.
- جملات باید واقعا گزاره‌ای قابل قضاوت باشند. مثلا «مخالفم» فاقد متمم و گزاره‌ی قابل قضاوت نیست.
