{% if propositions.count > 0 %}<b>جملات مرتبطی که قضاوت شدن اینان</b>

{% for proposition in propositions %}{{ proposition }}
{% endfor %}
{% else %}<b>متاسفانه جمله‌ی مرتبطی پیدا نشد!</b>

برای جست‌وجو می‌توانید دستور /search را تایپ کنید و پس از آن یک یا چند کلمه‌ که با فاصله از هم جدا شده‌اند را تایپ کنید و پیام را به بات ارسال کنید؛ مثل:
/search خدا
{% endif %}
