<b>درخواست صحبت!</b>

کاربری درخواست کرده‌است راجع به جمله‌ی «{{ request.proposition.text }}» با شما صحبت کند. در صورت موافقت روی /contact_{{ request.id }} کلیک کنید تا <b>نام کاربری‌تان را با ایشان به اشتراک بگذاریم.</b>

/contact_{{ request.id }}
/unsubscribe